/* 슬라이더 컨테이너 스타일링 */
.sliderContainer {
  width: 100%;
  height: auto;
  max-width: 44.54vh;
  margin: 0 auto;
  padding: 2vh 0;
  position: relative;
}

/* 이미지 컨테이너 */
.slider {
  display: flex !important;
  flex-direction: column;
  width: 15vh;
  height: 29.3vh;
  padding: 2vh;
  box-sizing: border-box;
}

/* 이미지 스타일링 */
.slider img {
  width: 10vh;
  height: 0vh;
  overflow: hidden;
  object-fit: contain;
  display: block;
  transform: scale(3);
  transition: transform 0.3s ease-in-out;
}

.slick-current img {
  transform: scale(7);
}
